/* write your override styles here */
#wall .tag-1 {
    display: none;
    z-index: 10;
  }
#wall #tag-2{
    display: none;
    
}
#wall #tag-3 .slick wicked{
    display: none;
}
.parent #tag-5 .slick{
    display: none;
}
.parent #tag-6{
    display: none;
}
.parent #tag-7 .slick{
    display: none;
}